table {


  width: 100%;
  border-collapse: collapse;
  text-align: center;
  caption-side: bottom;
}
tr,td{
  border: 1px solid $black;
  vertical-align: top;
}
tr td:nth-child(2){
  width: 10%;
}
tr td:nth-child(5){
  width: 10%;
}
